<div class="basic-container submit-form" fxLayout="column" fxLayoutAlign="space-between center" >
  <div class="width-100" style="overflow-y: scroll;">
    <div class="marginbot" fxLayout="row" fxLayoutAlign="space-between center">
      <h2>Terima Sebagian {{purchaseid}}</h2>
      <button class="close_btn" mat-button (click)="closeDialog()">X</button>
    </div>

    <div fxLayout="row">
      <div class="flex30">Tanggal Terima</div>
      <div class="flex70">
        <input type="date" class="inputs width-90" [(ngModel)]="datdate" (ngModelChange)="changeDate()"/>
      </div>
    </div>
  
    <table class="table-new" style="margin-top: 20pt;">
      <tr>
        <th class="th-new" style="border-left:1px solid #ccc;" fxFlex="50%">Produk</th>
        <th class="th-new" fxFlex="25%">Qty</th>
        <th class="th-new" fxFlex="25%">Qty yang Diterima</th>
      </tr>
    </table>

    <mat-table #table [dataSource]="dataSource" class="mat-table">
      <ng-container matColumnDef="product">
        <td class="tr-style" fxFlex="50%" mat-cell *matCellDef="let datas">
          <span *ngIf="datas.purchase_id">{{datas.product.name}}</span>
          <span *ngIf="!datas.purchase_id">{{datas.product}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="qty">
        <td class="tr-style text-right" fxFlex="25%" mat-cell *matCellDef="let datas">
          {{datas.qty - datas.qty_done | number}}
        </td>
      </ng-container>
      <ng-container matColumnDef="qty_done">
        <td class="tr-style text-right" fxFlex="25%" mat-cell *matCellDef="let datas; let index = index">
          <input type="number" style="border: none;border-bottom: 2px dashed #666;" [value]="datas.qty_rec" [(ngModel)]="datas.qty_rec" (keyup)="editPO(dataSource.filteredData.indexOf(datas))"/>
        </td>
      </ng-container>

      <tr mat-row class="tableRow" 
        *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
    </mat-table>
    <!--<form #elementsForm="ngForm">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef> Product </th>
      <td mat-cell *matCellDef="let element; let index = index">
          <input type="text" name="product-{{index}}" [(ngModel)]="element.product.name"/>
      </td>
    </ng-container>
    <ng-container matColumnDef="qty">
      <th mat-header-cell *matHeaderCellDef> Qty </th>
      <td mat-cell *matCellDef="let datas; let index = index">
          <input type="text" name="qty-{{index}}" [(ngModel)]="datas.qty"/>
      </td>
    </ng-container>
    <ng-container matColumnDef="qyu_done">
      <th mat-header-cell *matHeaderCellDef> Qty Done </th>
      <td mat-cell *matCellDef="let datas; let index = index">
          <input type="text" name="qty-{{index}}" [(ngModel)]="datas.qty"/>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let datas; let i = index; columns: displayedColumns;"></tr>
  </table>
  </form>-->
  </div>

  <div class="width-100" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button [disabled]="isRes" class="save_btn" (click)="closeBackDialog()">Simpan</button>
  </div>
</div>